<h2>Internal API: User Account Info</h2>
<ul>

    <li>Account status: active</li>
    <li>User ID: 1001</li>
    <li>Role: Administrator</li>
    <li>Department: IT Security</li>
    <li>Last login: 2023-11-15 14:30:22 UTC</li>
    <li>Username: admin</li>
    <li>Email: admin@internal.local</li>
    <li>Login attempts: 0</li>

    <li>Account created: 2021-05-10 09:15:00 UTC</li>
    <li>Password last changed: 2023-09-01 11:45:18 UTC</li>
    <li>Permissions:
        <ul>
            <li>user_management: full_access</li>
            <li>system_config: read_write</li>
            <li>audit_logs: read_only</li>
        </ul>
    </li>
    <li>Associated devices:
        <ul>
            <li>Workstation: WS-ADMIN-01 (last seen 2h ago)</li>
            <li>Mobile: Phone 14 (last seen 1d ago)</li>
        </ul>
    </li>
</ul>
